header {
  height: 350px;
  background-image: url('../images/superhero-header.png');
  background-size: cover;
  background-position: center;
}

li {
  list-style-type: none;
  color: #e40007;
}

.col-md-4 {
  color: white;
}

@media screen and (min-width: 300px) {
  .col-md-4 {
    background-color: blue;
  }
}

@media screen and (min-width: 500px) {
  .col-md-4 {
    background-color: purple;
  }
}

a {
  color: #e40007;
  font-size: 24px;
}

a:focus, a:hover {
  color: green;
}
